@import url('https://fonts.googleapis.com/css?family=Martel+Sans:100,200,300,400,500,600,700&display=swap');

/*--------------- Navigation bar ------------------------*/
.navbar {
   /* background-color: black !important ;*/
    font-family: "Martel+Sans", sans-serif;
}

/*--------------- Navigation bar item ------------------------*/

.nav-link {
    margin-left: 20px;
    color: black !important;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px #1E90FF; 
}


/*--------------- Navigation Logo ------------------------*/

.navbar-brand img{
    width: 7rem;
    height: 7rem;
    margin: 0;  
     
}

body, html {
  height: 100%;
}

.bg {

  /* Full height */
  height: 100%;


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*--------------- Footer ------------------------*/

#footer .page-footer {
    margin-top: 30px;
    padding-top: 40px;
    margin-bottom: 140px;
    background-color: black !important;
}


hr {
    clear: both;
    visibility: hidden;
}