@import url('https://fonts.googleapis.com/css?family=Martel+Sans:100,200,300,400,500,600,700&display=swap');

/*--------------- Navigation bar ------------------------*/
.navbar {
   /* background-color: black !important ;*/
    font-family: "Martel+Sans", sans-serif;
}

/*--------------- Navigation bar item ------------------------*/

.nav-link {
    margin-left: 20px;
    color: #F08080 !important;
    font-size: 30px;
    font-weight: 700;
    font-style: bold;
    text-shadow: 1px 1px #1E90FF; 
}


/*--------------- Navigation Logo ------------------------*/

.navbar-brand img{
    width: 7rem;
    height: 7rem;
    margin: 0;  
     
}

/*--------------- Background image ------------------------*/

body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding: 0;
    margin: 0;
}


header,
footer {
    margin: 0;
}

/*--------------- Footer ------------------------*/

footer {
   background-color: #F08080;
   padding-top: 20px;
  
}

.list-unstyled li {
    display:inline-block;
}

.list-unstyled li a { 
   font-family: "Martel+Sans", sans-serif;
   font-weight: 400;
   font-style: bold;
   font-size: 10px;
   margin-right: 10px;
}

hr {
    clear: both;
    visibility: hidden;
}